@namespace oxy url('http://www.oxygenxml.com/extensions/author');
oxy|comment {
    display:block !important;
    color:green !important;
    background-color:transparent !important;
}
oxy|comment:before{
  font-weight:bold;
  content: oxy_label(text, "Hinweis: ", width, 5%);
  padding-left:10px;
}

mei{
  display:block;
  background-color:rgb(240, 240, 240);
  border:1px solid black;
  padding-left:5px;
  content:'Quellenbeschreibung ('oxy_xpath('@xml:id')')\A';

}

pubStmt,
fileDesc > respStmt,
encodingDesc,
sourceDesc,
incip,
titlePage > *,
condition > *,
repository >*,
creation >*,
history >*,
contents > *,
revisionDesc,
biblList,
facsimile,
scoreDef,
section,
extMeta > *
{display:none !important;
visibility:-oxy-collapse-text;
}

titlePart,
title,
tempo,
perfRes,
identifier,
persName,
titlePage,
dimensions,
extent,
condition,
hand,
physMedium,
physLoc > *,
creation >*,
history >*,
term,
l
{visibility:-oxy-collapse-text;
 display:block;}

fileDesc:before {
    display:block;
    background-color:rgb(200, 200, 200);
    border:1px solid black;
    content: "Part 1. File Description";
    padding-left:5px;
}

fileDesc{}

titlePart[type=main]:before {
padding-left:5px;
    content:
    oxy_label(text, "Titel", width, 20%) 
        oxy_textfield(edit, '#text', columns, 10)
}
titlePart[type=subordinate]:before {
padding-left:5px;
    content:
    oxy_label(text, "Untertitel", width, 20%) 
        oxy_textfield(edit, '#text', columns, 30)
}
titlePart[type=desc]:before {
padding-left:5px;
    content:
    oxy_label(text, "Beschreibung", width, 20%) 
        oxy_textfield(edit, '#text', columns, 30)
}

work:before {
    display:block;
    background-color:rgb(200, 200, 200);
    border:1px solid black;
    content: "Teil 2. Informationen zum Werk";
    padding-left:5px;
}
work > title:before{
  display:block;
  background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Teil 2.1 Allgemein";
    padding-left:5px;
}

key {
padding-left:5px;
display:block;
  content: oxy_label(text, "Tonart:", width, 20%)
  oxy_combobox( 
            edit, '@pname',
            editable, false,
            values, 'c,d,e,f,g,a,h',
            labels, 'C,D,E,F,G,A,H'
)
oxy_combobox( 
            edit, '@accid',
            editable, false,
            values, ',s,f,ss,ff,n',
            labels, ',\266F,\266D,\2715,\266D\266D,\266E'
)
oxy_combobox( 
            edit, '@mode',
            editable, false,
            values, 'major,minor,dorian,phrygian,lydian,mixolydian,aeolian,locrian',
            labels, 'Dur,Moll,Dorisch,Phrygisch,Lydisch,Mixolydisch,Äolisch,Lokrisch'
)

}

meter{
padding-left:5px;
display:block;
  content: oxy_label(text, "Taktangabe:", width, 20%)
  oxy_combobox( 
            edit, '@count',
            editable, true,
            values, '1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16',
            labels, '1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16'
)
oxy_combobox( 
            edit, '@unit',
            editable, false,
            values, '1,2,4,8,16,32',
            labels, '1,2,4,8,16,32'
)
oxy_combobox( 
            edit, '@sym',
            editable, false,
            values, 'common,cut',
            labels, 'C,Alla breve'
)
}

tempo{
padding-left:5px;
display:block;
  content:
    oxy_label(text, "Tempoangabe:", width, 20%) 
        oxy_textfield(edit, '#text', columns, 30)
}

perfMedium:before{
  display:block;
    background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Teil 2.2 Besetzung";
    padding-left:5px;
}
perfResList {
  display:block;
}
perfRes{
padding-left:5px;
display:block;
border:1px solid black;
  padding-left:5px;
content:oxy_label(text, "Instrumentenangabe (Dipl.):", width, 20%) 
        oxy_textfield(edit, '#text', columns, 30)
        '\A'
        oxy_label(text, "Anzahl:", width, 20%) 
        oxy_textfield(edit, '@count', columns, 4)
        oxy_checkbox(edit, '@solo', values, 'true', labels, 'Solo')
        '\A'
        oxy_label(text, "Instrument:", width, 20%)
        oxy_combobox( 
            edit, '@auth',
            editable, false,
            values, '',
            labels, '')
}

contents{display:block;
border:1px solid black;
    padding-left:5px;
          content:oxy_label(text, "Inhalt (content):", width, 20%)
          oxy_textArea(
          edit, '#content',
          contentType, 'text/xml',
          rows, 10,
          columns, 44)
           
}

manifestationList:before{
  display:block;
    background-color:rgb(200, 200, 200);
    border:1px solid black;
    content: "Teil 3 Beschreibung der Quelle(n) (Dipolomatisch)";
    padding-left:5px;
    counter-reset: manifestationCounter;
}
manifestation:before {
counter-increment: manifestationCounter;
  display:block;
  background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Teil 3."counter(manifestationCounter)" Quelle "counter(manifestationCounter);
}
manifestation {
  display:block;
  background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Teil 3."counter(manifestationCounter)".1 Allgemeine Beschreibung";
}
identifier{
display:block;
border:1px solid black;
  padding-left:5px;
content:oxy_label(text, "Signatur/ID:", width, 20%) 
        oxy_combobox( 
            edit, '@type',
            editable, true,
            values, 'rism,D-KA',
            labels, 'RISM,D-KA')
        oxy_textfield(edit, '#text', columns, 30)
}

titlePart[type=main]:before {
    content:
    oxy_label(text, "Titel", width, 20%) 
        oxy_textfield(edit, '#text', columns, 30)
}
title[type=subordinate]:before {
    content:
    oxy_label(text, "Untertitel", width, 20%) 
        oxy_textfield(edit, '#text', columns, 30)
}
title[type=desc]:before {
    content:
    oxy_label(text, "Beschreibung", width, 20%) 
        oxy_textfield(edit, '#text', columns, 30)
}
composer > persName{
display:block;
  content:
    oxy_label(text, "Komponist:", width, 20%) 
        oxy_combobox(
        width, 20%,
            edit, '#text',
            editable, true,
            canRemoveValue, true,
            values,  oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data?select=*.xml;sort=a;recurse=yes')/tei:person/concat(tei:persName/tei:forename[1],' ',tei:persName/tei:surname[1]),', ')"),
            labels, oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data?select=*.xml;sort=a;recurse=yes')/tei:person/concat(tei:persName/tei:forename[1],' ',tei:persName/tei:surname[1]),', ')"))
        oxy_combobox( 
            edit, '@auth',
            editable, false,
            canRemoveValue, true,
            values,  oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data/?select=*.xml;sort=a;recurse=yes')/tei:person/@xml:id,', ')"),
            labels, oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data?select=*.xml;sort=a;recurse=yes')/tei:person/concat(tei:persName/tei:surname[1],'\\, ',tei:persName/tei:forename[1],' ',tei:persName/tei:forename[2],' (',@xml:id,')'),', ')"))
}
arranger > persName{
display:block; 
 content:
    oxy_label(text, "Bearbeiter:", width, 20%) 
        oxy_textfield(edit, '#text', columns, 20)
        oxy_combobox( 
            edit, '@auth',
            editable, false,
            canRemoveValue, true,
            values,  oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data/?select=*.xml;sort=a;recurse=yes')/tei:person/@xml:id,', ')"),
            labels, oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data?select=*.xml;sort=a;recurse=yes')/tei:person/concat(tei:persName/tei:surname[1],'\\, ',tei:persName/tei:forename[1],' (',@xml:id,')'),', ')"))
}
editor > persName{
display:block;
  content: oxy_label(text, "Herausgeber:", width, 20%)
  oxy_textfield(edit, '#text', columns, 20)
           oxy_combobox( 
            edit, '@auth',
            editable, false,
            canRemoveValue, true,
            values,  oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data/?select=*.xml;sort=a;recurse=yes')/tei:person/@xml:id,', ')"),
            labels, oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data?select=*.xml;sort=a;recurse=yes')/tei:person/concat(tei:persName/tei:surname[1],'\\, ',tei:persName/tei:forename[1],' (',@xml:id,')'),', ')"))
}
lyricist > persName{
display:block;
  content:
        oxy_label(text, "Textdichter:", width, 20%)
        oxy_textfield(edit, '#text', columns, 20)
        oxy_combobox( 
            edit, '@auth',
            editable, false,
            canRemoveValue, true,
            values,  oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data/?select=*.xml;sort=a;recurse=yes')/tei:person/@xml:id,', ')"),
            labels, oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data?select=*.xml;sort=a;recurse=yes')/tei:person/concat(tei:persName/tei:surname[1],'\\, ',tei:persName/tei:forename[1],' (',@xml:id,')'),', ')"))
}

respStmt{
display:block;
  content:oxy_label(text, "Widmungsvermerk:", width, 20%)
          oxy_textArea(
          edit, '#content',
          contentType, 'text/xml',
          rows, 10,
          columns, 30)
}

physDesc:before{
  display:block;
  background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Teil 3."counter(manifestationCounter)".2 Physikalische Beschreibung der Quelle";
}
physDesc{
  display:block;
    border:1px solid black;
}
titlePage{
  display:block;
  content:oxy_label(text, "Titelseite:", width, 20%)
          oxy_textArea(
          edit, '#content',
          contentType, 'text/xml',
          rows, 10,
          columns, 60)
}

dimensions{
  display:  block;
  content:  oxy_label(text, "Abmessungen:", width, 20%)
            oxy_combobox( 
            edit, '@label',
            editable, false,
            values, 'height, width',
            labels, 'Höhe,Breite')
            oxy_combobox( 
            edit, '@unit',
            editable, false,
            values, 'mm, cm',
            labels, 'mm, cm')
            oxy_textfield(edit, '#text', columns, 5)

}

extent[label=pages], extent[label=folium]{
  display:  block;
  content:  oxy_label(text, "Umfang:", width, 20%)
            oxy_combobox( 
            edit, '@label',
            editable, false,
            values, 'orientation, folium, pages, pagination',
            labels, 'Ausrichtung, Folii, Seiten, Seitenzählung')
            oxy_combobox( 
            edit, '@unit',
            editable, false,
            values, 'folium, page',
            labels, 'Folio, Seite')
            oxy_textfield(edit, '#text', columns, 5)
}
extent[label=pagination]{
  display:  block;
  content:  oxy_label(text, "Seitenzählung:", width, 20%)
            oxy_combobox( 
            edit, '@label',
            editable, false,
            values, 'orientation, folium, pages, pagination',
            labels, 'Ausrichtung, Folii, Seiten, Seitenzählung')
            oxy_combobox( 
            edit, '#text',
            editable, false,
            values, 'none,arabic,roman,irregular',
            labels, 'keine, arabisch, römisch, unregelmäßig')
}

extent[label=orientation]{
  display:  block;
  content:  oxy_label(text, "Ausrichtung:", width, 20%)
            oxy_combobox( 
            edit, '@label',
            editable, false,
            values, 'orientation, folium, pages, pagination',
            labels, 'Ausrichtung, Folii, Seiten, Seitenzählung')
            oxy_combobox( 
            edit, '#text',
            editable, false,
            values, 'portrait, landscape',
            labels, 'Hochformat, Querformat')
}

scoreFormat{
  display:  block;
  content:  oxy_label(text, "Partiturformat:", width, 20%)
            oxy_combobox( 
            edit, '#text',
            editable, false,
            values, 'song score, choir score, orchestral score, piano score',
            labels, 'Liedpartitur, Chorpartitur, Orchesterpartitur, Klavierauszug')
}
handList{
  display:block;
    background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Hände";
    padding-left:5px;
}

/*						<hand label="N 1r" medium="Bleistift">nach A-dur transponieren</hand>*/
/*						<hand label="NW 1v BiblVermerk" medium="Bleistift">12</hand>*/
hand {
  display:block;
  content:  oxy_label(text, "Hand", width, 7%)
            oxy_textfield(edit, '@label', columns, 20)
            oxy_combobox( 
            edit, '@medium',
            editable, false,
            values, 'Bleistift,TinteSchwarz,TinteBlau,TinteRot,FarbstiftBlau,FarbstiftRot,FarbstiftGrün,',
            labels, 'Bleistift,TinteSchwarz,TinteBlau,TinteRot,FarbstiftBlau,FarbstiftRot,FarbstiftGrün,')
            oxy_textfield(edit, '#text', columns, 20)
}

condition:before{
  display:block;
  content:oxy_label(text, "Zustand der Quelle", width, 20%)
  oxy_combobox( 
            width, 20%,
            edit, '@type',
            editable, false,
            values, 'desc',
            labels, 'Beschreibung')
            'Nr.'
            oxy_textfield(edit, '@n', columns, 5)
            'von'
  oxy_combobox( 
            width, 20%,
            edit, '@resp',
            editable, false,
            values, 'dried',
            labels, 'Dennis Ried')
}
condition{display:block;
          content: 
          oxy_textArea(
          edit, '#content',
          contentType, 'text/xml',
          rows, 10,
          columns, 60)}

physMedium{
display:block;
  content:oxy_label(text, "Medien:", width, 20%)
          oxy_textArea(
          edit, '#content',
          contentType, 'text/xml',
          rows, 5,
          columns, 44)
}
locus{
  display:block;
    background-color:rgb(230, 230, 230);
    border:1px solid black;
    content:oxy_label(text, "Vermerke", width, 20%)
    oxy_combobox( 
           width, 30%,
           edit, '@type',
           editable, false,
           values, 'paperNotes, biblNotes, stamps',
           labels, 'Papiervermerke, Bibliothekarische Vermerke, Stempel')
}

locus > rend{
display:block;
  content: 
  oxy_label(text, "Rendition:", width, 20%)
  "\2194" oxy_combobox( 
           width, 20%,
           edit, '@halign',
           editable, false,
           values, 'left, center, right',
           labels, 'links, zentriert, rechts')
  "\2195" oxy_combobox( 
           width, 20%,
           edit, '@valign',
           editable, false,
           values, 'top, middle, bottom',
           labels, 'oben, mittig, unten')
}
locus[type=paperNotes] > symbol{
display:block;
  content: oxy_label(text, "Symbol:", width, 20%)
  oxy_combobox( 
           width, 40%,
           edit, '@class',
           editable, false,
           values, oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiResources/data/dicts?select=*.xml;sort=a;recurse=yes')//tei:category[@xml:id='paperNotes']//tei:name/@xml:id,', ')")
           labels,oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiResources/data/dicts?select=*.xml;sort=a;recurse=yes')//tei:category[@xml:id='paperNotes']//tei:name/string(),', ')") )
}
locus[type=stamps] > symbol{
display:block;
  content: oxy_label(text, "Symbol:", width, 20%)
  oxy_combobox( 
           width, 40%,
           edit, '@class',
           editable, false,
           values, oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiResources/data/dicts?select=*.xml;sort=a;recurse=yes')//tei:category[@xml:id='stamps']//tei:name/@xml:id,', ')")
           labels,oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiResources/data/dicts?select=*.xml;sort=a;recurse=yes')//tei:category[@xml:id='stamps']//tei:name/string(),', ')") )
}
physLoc:before{
  display:block;
    background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Teil 3."counter(manifestationCounter)".3 Bestandshaltende Institution";
}
physLoc{
  display:block;
    border:1px solid black;
}

repository{
display:block;
  content:oxy_label(text, "Sammlung:", width, 20%)
          oxy_textArea(
          edit, '#content',
          contentType, 'text/xml',
          rows, 5,
          columns, 44)
}

creation:before{
  display:block;
    background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Teil 3."counter(manifestationCounter)".4 Zur Entstehung der Quelle";
}
creation{display:block;
    border:1px solid black;
          content:oxy_label(text, "Entstehung:", width, 20%)
          oxy_textArea(
          edit, '#text',
          contentType, 'text/xml',
          rows, 10,
          columns, 44)
           
}
history:before{
  display:block;
    background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Teil 3."counter(manifestationCounter)".5 Zur Geschichte der Quelle";
}
history{display:block;
    border:1px solid black;
          content:oxy_label(text, "Geschichte:", width, 20%)
          oxy_textArea(
          edit, '#text',
          contentType, 'text/xml',
          rows, 10,
          columns, 44)
           
}

langUsage:before{
  display:block;
    background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Teil 3."counter(manifestationCounter)".6 Sprachen";
}
langUsage{display:block;
    border:1px solid black;
          content:oxy_label(text, "Benutzte Sprachen:", width, 20%)
}

language{
  content:oxy_checkbox(edit, '@auth', values, 'de,en,fr,it', labels, 'deutsch,englisch,französisch,italienisch');
}

notesStmt:before{
  display:block;
    background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Teil 3."counter(manifestationCounter)".7 Annotationen";
    counter-reset: annots;
    
}
annot:before{
counter-increment:annots;
content:counter(annots)". "
}
annot{display:block;
    border:1px solid black;
          content:oxy_label(text, "Anmerkung:", width, 13%)
          oxy_datePicker(edit, '@when', columns, 15, format, 'yyyy-MM-dd')
          oxy_combobox( 
            width, 20%
            edit, '@resp',
            editable, false,
            values, 'dried',
            labels, 'Dennis Ried'
)

}

classification{
  display:block;
    border:1px solid black;
    content: "Teil 3."counter(manifestationCounter)".8 Klassifikationen";
}
termList:before{
  display:block;
    border:1px solid black;
    padding-left:5px;
          content:oxy_label(text, "Tags:", width, 20%)
}

term{
display:block;
  content:oxy_label(text, "Tag:", width, 5%)
          oxy_combobox( 
            width, 20%
            edit, '@type',
            editable, true)
          oxy_combobox( 
            width, 20%
            edit, '#text',
            editable, true)
}
ptr{
  display:inline-block;
  content:oxy_label(text, "Pointer")
  oxy_combobox( 
            width, 25%,
            edit, '@target',
            editable, false,
            values, oxy_xpath("string-join(ancestor::mei//@xml:id/concat('#',.),', ')"),
            labels, oxy_xpath("string-join(ancestor::mei//@xml:id,', ')")
)
}
relationList:before{
  display:block;
    border:1px solid black;
    padding-left:5px;
          content:oxy_label(text, "Beziehungen zu anderen Werken/Quellen:", width, 20%)
}

relation:before{
  content: oxy_combobox( 
            width, 20%,
            edit, '@rel',
            editable, false,
            values, 'isEmbodimentOf,hasAlternate',
            labels, 'Ist Verkörperung von,hat Alternative')
}
relation[rel=hasAlternate]{
display:block;
-oxy-link:attr(target);
content:
  oxy_combobox( 
            width, 40%,
            edit, '@target',
            editable, false,
            values, oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiSources/data/music?select=*.xml;recurse=yes')//mei:mei//mei:fileDesc//mei:title[@type='uniform'][1]/mei:titlePart[@type='main']/ancestor::mei:mei/@xml:id,', ')")
            , labels,
oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiSources/data/music?select=*.xml;recurse=yes')//mei:mei//mei:fileDesc//mei:title[@type='uniform'][1]/mei:titlePart[@type='main']/concat(normalize-space(translate(.,',',':')),' (',ancestor::mei:mei/@xml:id,')'),', ')")
)
;
}

relation[rel=isEmbodimentOf]{
display:block;
  content:  
  oxy_combobox( 
            width, 40%,
            edit, '@target',
            editable, false,
            values, oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiWorks/data?select=*.xml')//mei:mei//mei:fileDesc//mei:title[@type='uniform'][1]/mei:titlePart[@type='main']/ancestor::mei:mei/@xml:id,', ')")
            , labels,
oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiWorks/data?select=*.xml')//mei:mei//mei:fileDesc//mei:title[@type='uniform'][1]/mei:titlePart[@type='main']/concat(normalize-space(translate(.,',',':')),' (',ancestor::mei:mei/@xml:id,')'),', ')")
);
}

extMeta:before{
  display:block;
    background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Teil 3."counter(manifestationCounter)".9 extMeta (TEI)";
}
extMeta{
  display:block;
    border:1px solid black;
          content:
          oxy_textArea(
          edit, '#content',
          contentType, 'text/xml',
          rows, 10,
          columns, 60)
           
}
mdiv:before {
    display:block;
    background-color:rgb(200, 200, 200);
    border:1px solid black;
    content: "Part X. Musikalischer Inhalt";
    padding-left:5px;
}

div[type=songtext]{
  display:block;
  border:1px solid black;
  padding-left:5px;
  content: "Part X.2 Liedtext";
  counter-reset:stanza;
}
lg:before{
counter-increment:stanza;
content:counter(stanza)". "
}
lg{
  display:block;
  border:1px solid black;
  padding-left:5px;
  content:oxy_label(text, "Strophe", width, 5%);
  counter-reset:verse
}
l:before{
counter-increment:verse;
content:counter(verse);
display:none
}
l{
  display:block;
  content:
  oxy_label(text, "Vers", width, 5%)
  counter(verse)
  oxy_textfield(edit, '#text', columns, 45)
}
head{
  display:block;
  border:1px solid black;
  padding-left:5px;
  content:oxy_label(text, "Titel", width, 6%)
  oxy_textfield(edit, '#text', columns, 45)
}