mei{
  display:block;
  background-color:rgb(240, 240, 240);
  border:1px solid black;
  padding-left:5px;
  content:'Quellenbeschreibung ('oxy_xpath('@xml:id')')\A';

}

pubStmt,
fileDesc > respStmt,
encodingDesc,
sourceDesc,
incip,
titlePage > *,
condition > *,
repository >*,
creation >*,
history >*,
contents > *,
revisionDesc,
biblList,
facsimile,
scoreDef,
section
{display:none !important;
visibility:-oxy-collapse-text;
}

titlePart,
title,
tempo,
perfRes,
identifier,
persName,
titlePage,
dimensions,
extent,
condition,
hand,
physMedium,
physLoc > *,
creation >*,
history >*,
l
{visibility:-oxy-collapse-text;
 display:block;}

fileDesc:before {
    display:block;
    background-color:rgb(200, 200, 200);
    border:1px solid black;
    content: "Part 1. File Description";
    padding-left:5px;
}

fileDesc{}

titlePart[type=main]:before {
    content:
    oxy_label(text, "Titel", width, 20%) 
        oxy_textfield(edit, '#text', columns, 10)
}
titlePart[type=sub]:before {
    content:
    oxy_label(text, "Untertitel", width, 20%) 
        oxy_textfield(edit, '#text', columns, 30)
}
titlePart[type=desc]:before {
    content:
    oxy_label(text, "Beschreibung", width, 20%) 
        oxy_textfield(edit, '#text', columns, 30)
}

work:before {
    display:block;
    background-color:rgb(200, 200, 200);
    border:1px solid black;
    content: "Teil 2. Informationen zum Werk";
    padding-left:5px;
}

work > title{
display:block;
  content:
    oxy_label(text, "Titel (Dipl.)", width, 20%) 
        oxy_textfield(edit, '#text', columns, 30)
}
key {
display:block;
  content: oxy_label(text, "Tonart:", width, 20%)
  oxy_combobox( 
            edit, '@pname',
            editable, false,
            values, 'c,d,e,f,g,a,h',
            labels, 'C,D,E,F,G,A,H'
)
oxy_combobox( 
            edit, '@accid',
            editable, false,
            values, 's,ss,f,ff',
            labels, '#,x,b,bb'
)
oxy_combobox( 
            edit, '@mode',
            editable, false,
            values, 'major,minor,dorian,phrygian,lydian,mixolydian,aeolian,locrian',
            labels, 'Dur,Moll,Dorisch,Phrygisch,Lydisch,Mixolydisch,Äolisch,Lokrisch'
)

}

meter{
display:block;
  content: oxy_label(text, "Taktangabe:", width, 20%)
  oxy_combobox( 
            edit, '@count',
            editable, true,
            values, '1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16',
            labels, '1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16'
)
oxy_combobox( 
            edit, '@unit',
            editable, false,
            values, '1,2,4,8,16,32',
            labels, '1,2,4,8,16,32'
)
oxy_combobox( 
            edit, '@sym',
            editable, false,
            values, 'common,cut',
            labels, 'C,Alla breve'
)
}

tempo{
display:block;
  content:
    oxy_label(text, "Tempoangabe:", width, 20%) 
        oxy_textfield(edit, '#text', columns, 30)
}

perfMedium:before{
  display:block;
    background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Teil 2.2 Besetzung";
    padding-left:5px;
}

perfResList {
  display:block;
}
perfRes{
display:block;
border:1px solid black;
  padding-left:5px;
content:oxy_label(text, "Instrumentenangabe (Dipl.):", width, 20%) 
        oxy_textfield(edit, '#text', columns, 30)
        '\A'
        oxy_label(text, "Anzahl:", width, 20%) 
        oxy_textfield(edit, '@count', columns, 4)
        oxy_checkbox(edit, '@solo', values, 'true', labels, 'Solo')
        '\A'
        oxy_label(text, "Instrument:", width, 20%)
        oxy_combobox( 
            edit, '@auth',
            editable, false,
            values, '',
            labels, '')
}

contents{display:block;
border:1px solid black;
    padding-left:5px;
          content:oxy_label(text, "Inhalt (content):", width, 20%)
          oxy_textArea(
          edit, '#content',
          contentType, 'text/xml',
          rows, 10,
          columns, 44)
           
}

manifestationList:before{
  display:block;
    background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Teil 3 Beschreibung der Quelle (Dipolomatisch)";
    padding-left:5px;
}

manifestation {
  display:block;
  background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Teil 3.1 Allgemeine Beschreibung";
    padding-left:5px;
}
identifier{
display:block;
border:1px solid black;
  padding-left:5px;
content:oxy_label(text, "Signatur/ID:", width, 20%) 
        oxy_combobox( 
            edit, '@type',
            editable, true,
            values, 'rism,D-KA',
            labels, 'RISM,D-KA')
        oxy_textfield(edit, '#text', columns, 30)
}

titlePart[type=main]:before {
    content:
    oxy_label(text, "Titel", width, 20%) 
        oxy_textfield(edit, '#text', columns, 30)
}
title[type=subordinate]:before {
    content:
    oxy_label(text, "Untertitel", width, 20%) 
        oxy_textfield(edit, '#text', columns, 30)
}
title[type=desc]:before {
    content:
    oxy_label(text, "Beschreibung", width, 20%) 
        oxy_textfield(edit, '#text', columns, 30)
}
composer > persName{
display:block;
  content:
    oxy_label(text, "Komponist:", width, 20%) 
        oxy_combobox(
        width, 20%,
            edit, '#text',
            editable, true,
            canRemoveValue, true,
            values,  oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data?select=*.xml;sort=a;recurse=yes')/tei:person/concat(tei:persName/tei:forename[1],' ',tei:persName/tei:surname[1]),', ')"),
            labels, oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data?select=*.xml;sort=a;recurse=yes')/tei:person/concat(tei:persName/tei:forename[1],' ',tei:persName/tei:surname[1]),', ')"))
        oxy_combobox( 
            edit, '@auth',
            editable, false,
            canRemoveValue, true,
            values,  oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data/?select=*.xml;sort=a;recurse=yes')/tei:person/@xml:id,', ')"),
            labels, oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data?select=*.xml;sort=a;recurse=yes')/tei:person/concat(tei:persName/tei:surname[1],'\\, ',tei:persName/tei:forename[1],' ',tei:persName/tei:forename[2],' (',@xml:id,')'),', ')"))
}
arranger > persName{
display:block; 
 content:
    oxy_label(text, "Bearbeiter:", width, 20%) 
        oxy_textfield(edit, '#text', columns, 20)
        oxy_combobox( 
            edit, '@auth',
            editable, false,
            canRemoveValue, true,
            values,  oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data/?select=*.xml;sort=a;recurse=yes')/tei:person/@xml:id,', ')"),
            labels, oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data?select=*.xml;sort=a;recurse=yes')/tei:person/concat(tei:persName/tei:surname[1],'\\, ',tei:persName/tei:forename[1],' (',@xml:id,')'),', ')"))
}
editor > persName{
display:block;
  content: oxy_label(text, "Herausgeber:", width, 20%)
  oxy_textfield(edit, '#text', columns, 20)
           oxy_combobox( 
            edit, '@auth',
            editable, false,
            canRemoveValue, true,
            values,  oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data/?select=*.xml;sort=a;recurse=yes')/tei:person/@xml:id,', ')"),
            labels, oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data?select=*.xml;sort=a;recurse=yes')/tei:person/concat(tei:persName/tei:surname[1],'\\, ',tei:persName/tei:forename[1],' (',@xml:id,')'),', ')"))
}
lyricist > persName{
display:block;
  content:
        oxy_label(text, "Textdichter:", width, 20%)
        oxy_textfield(edit, '#text', columns, 20)
        oxy_combobox( 
            edit, '@auth',
            editable, false,
            canRemoveValue, true,
            values,  oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data/?select=*.xml;sort=a;recurse=yes')/tei:person/@xml:id,', ')"),
            labels, oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiPersons/data?select=*.xml;sort=a;recurse=yes')/tei:person/concat(tei:persName/tei:surname[1],'\\, ',tei:persName/tei:forename[1],' (',@xml:id,')'),', ')"))
}

respStmt{
display:block;
  content:oxy_label(text, "Widmungsvermerk:", width, 20%)
          oxy_textArea(
          edit, '#content',
          contentType, 'text/xml',
          rows, 10,
          columns, 30)
}

physDesc{
  display:block;
  background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Teil 3.2 Physikalische Beschreibung der Quelle";
    padding-left:5px;
}

titlePage{
  display:block;
  content:oxy_label(text, "Titelseite:", width, 20%)
          oxy_textArea(
          edit, '#content',
          contentType, 'text/xml',
          rows, 10,
          columns, 60)
}

dimensions{
  display:  block;
  content:  oxy_label(text, "Abmessungen:", width, 20%)
            oxy_combobox( 
            edit, '@label',
            editable, false,
            values, 'height, width',
            labels, 'Höhe,Breite')
            oxy_combobox( 
            edit, '@unit',
            editable, false,
            values, 'mm, cm',
            labels, 'mm, cm')
            oxy_textfield(edit, '#text', columns, 5)

}

extent[label=pages], extent[label=folium]{
  display:  block;
  content:  oxy_label(text, "Umfang:", width, 20%)
            oxy_combobox( 
            edit, '@label',
            editable, false,
            values, 'orientation, folium, pages, pagination',
            labels, 'Ausrichtung, Folii, Seiten, Seitenzählung')
            oxy_combobox( 
            edit, '@unit',
            editable, false,
            values, 'folium, page',
            labels, 'Folio, Seite')
            oxy_textfield(edit, '#text', columns, 5)
}
extent[label=pagination]{
  display:  block;
  content:  oxy_label(text, "Seitenzählung:", width, 20%)
            oxy_combobox( 
            edit, '@label',
            editable, false,
            values, 'orientation, folium, pages, pagination',
            labels, 'Ausrichtung, Folii, Seiten, Seitenzählung')
            oxy_combobox( 
            edit, '#text',
            editable, false,
            values, 'none,arabic,roman,irregular',
            labels, 'keine, arabisch, römisch, unregelmäßig')
}

extent[label=orientation]{
  display:  block;
  content:  oxy_label(text, "Ausrichtung:", width, 20%)
            oxy_combobox( 
            edit, '@label',
            editable, false,
            values, 'orientation, folium, pages, pagination',
            labels, 'Ausrichtung, Folii, Seiten, Seitenzählung')
            oxy_combobox( 
            edit, '#text',
            editable, false,
            values, 'portrait, landscape',
            labels, 'Hochformat, Querformat')
}

scoreFormat{
  display:  block;
  content:  oxy_label(text, "Partiturformat:", width, 20%)
            oxy_combobox( 
            edit, '#text',
            editable, false,
            values, 'song score, choir score, orchestral score, piano score',
            labels, 'Liedpartitur, Chorpartitur, Orchesterpartitur, Klavierauszug')
}
handList{
  display:block;
    background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Hände";
    padding-left:5px;
}

/*						<hand label="N 1r" medium="Bleistift">nach A-dur transponieren</hand>*/
/*						<hand label="NW 1v BiblVermerk" medium="Bleistift">12</hand>*/
hand {
  display:block;
  content:  oxy_label(text, "Hand", width, 7%)
            oxy_textfield(edit, '@label', columns, 20)
            oxy_combobox( 
            edit, '@medium',
            editable, false,
            values, 'Bleistift,TinteSchwarz,TinteBlau,TinteRot,FarbstiftBlau,FarbstiftRot,FarbstiftGrün,',
            labels, 'Bleistift,TinteSchwarz,TinteBlau,TinteRot,FarbstiftBlau,FarbstiftRot,FarbstiftGrün,')
            oxy_textfield(edit, '#text', columns, 20)
}

condition:before{
  display:block;
  content:oxy_label(text, "Zustand der Quelle", width, 20%)
  oxy_combobox( 
            width, 20%,
            edit, '@type',
            editable, false,
            values, 'desc',
            labels, 'Beschreibung')
            'Nr.'
            oxy_textfield(edit, '@n', columns, 5)
            'von'
  oxy_combobox( 
            width, 20%,
            edit, '@resp',
            editable, false,
            values, 'dried',
            labels, 'Dennis Ried')
}
condition{display:block;
          content: 
          oxy_textArea(
          edit, '#content',
          contentType, 'text/xml',
          rows, 10,
          columns, 60)}

physMedium{
display:block;
  content:oxy_label(text, "Beschreibung des Mediums:", width, 20%)
          oxy_textArea(
          edit, '#content',
          contentType, 'text/xml',
          rows, 5,
          columns, 44)
}

physLoc{
  display:block;
    background-color:rgb(230, 230, 230);
    border:1px solid black;
    content: "Bestandshaltende Institution";
    padding-left:5px;
}

repository{
display:block;
  content:oxy_label(text, "Sammlung:", width, 20%)
          oxy_textArea(
          edit, '#content',
          contentType, 'text/xml',
          rows, 5,
          columns, 44)
}

creation{display:block;
    border:1px solid black;
    padding-left:5px;
          content:oxy_label(text, "Entstehung:", width, 20%)
          oxy_textArea(
          edit, '#text',
          contentType, 'text/xml',
          rows, 10,
          columns, 44)
           
}
history{display:block;
    border:1px solid black;
    padding-left:5px;
          content:oxy_label(text, "Geschichte:", width, 20%)
          oxy_textArea(
          edit, '#text',
          contentType, 'text/xml',
          rows, 10,
          columns, 44)
           
}

langUsage{display:block;
    border:1px solid black;
    padding-left:5px;
          content:oxy_label(text, "Benutzte Sprachen:", width, 20%)
}

language{
  content:oxy_checkbox(edit, '@auth', values, 'de,en,fr,it', labels, 'deutsch,englisch,französisch,italienisch');
}

/* Hier fehlt noch etwas */

relationList{
  display:block;
    border:1px solid black;
    padding-left:5px;
          content:oxy_label(text, "Beziehungen zu anderen Quellen:", width, 20%)
}

relation{
display:block;
  content:  oxy_combobox( 
            width, 40%,
            edit, '@target',
            editable, false,
            values, oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiSources/data/music?select=*.xml;sort=a;recurse=yes')/mei:mei/@xml:id,', ')"),
            labels,
oxy_xpath("string-join(collection('/Users/dried/Repositories/BauDi/baudi-contents/baudiSources/data/music?select=*.xml;sort=a;recurse=yes')/mei:mei//mei:title[@type='uniform'][1]/concat(normalize-space(mei:titlePart[@type='main']),' (',ancestor::mei:mei/@xml:id,')'),', ')"))
            oxy_combobox( 
            width, 20%,
            edit, '@rel',
            editable, false,
            values, 'isEmbodimentOf,hasAlternate',
            labels, 'isEmbodimentOf,hasAlternate');
}
mdiv:before {
    display:block;
    background-color:rgb(200, 200, 200);
    border:1px solid black;
    content: "Part X. Musikalischer Inhalt";
    padding-left:5px;
}

div[type=songtext]{
  display:block;
  border:1px solid black;
  padding-left:5px;
  content: "Part X.2 Liedtext";
}

lg{
  display:block;
  border:1px solid black;
  padding-left:5px;
  content:oxy_label(text, "Strophe", width, 5%)
  oxy_textfield(edit, '@n', columns, 4)
}
l{
  display:block;
  content:oxy_label(text, "Vers", width, 5%)
  oxy_textfield(edit, '@n', columns, 5)
  oxy_textfield(edit, '#text', columns, 45)
}
head{
  display:block;
  border:1px solid black;
  padding-left:5px;
  content:oxy_label(text, "Titel", width, 5%)
  oxy_textfield(edit, '#text', columns, 50)
}